WebApplication5/WebApplication5/Connected Services/JobApplicationReference/JobApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/JobApplicationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/JobApplicationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/JobApplicationService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8000/JobApplicationService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfJobPortal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobApplicationService_GetJobApplicationsOfApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobApplicationsOfApplicant" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetJobApplicationsOfApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobApplicationsOfApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetJobApplicationsOfJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobApplicationsOfJobCategory" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetJobApplicationsOfJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobApplicationsOfJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_ApplyJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyJob" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_ApplyJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyJobResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobApplicationService">
    <wsdl:operation name="GetJobApplicationsOfApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfApplicant" message="tns:IJobApplicationService_GetJobApplicationsOfApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfApplicantResponse" message="tns:IJobApplicationService_GetJobApplicationsOfApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobApplicationsOfJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfJobCategory" message="tns:IJobApplicationService_GetJobApplicationsOfJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfJobCategoryResponse" message="tns:IJobApplicationService_GetJobApplicationsOfJobCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/ApplyJob" message="tns:IJobApplicationService_ApplyJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/ApplyJobResponse" message="tns:IJobApplicationService_ApplyJob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobApplicationService" type="tns:IJobApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobApplicationsOfApplicant">
      <soap:operation soapAction="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobApplicationsOfJobCategory">
      <soap:operation soapAction="http://tempuri.org/IJobApplicationService/GetJobApplicationsOfJobCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyJob">
      <soap:operation soapAction="http://tempuri.org/IJobApplicationService/ApplyJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobApplicationService">
    <wsdl:port name="BasicHttpBinding_IJobApplicationService" binding="tns:BasicHttpBinding_IJobApplicationService">
      <soap:address location="http://localhost:8000/JobApplicationService/JobApplicationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>