WebApplication5/WebApplication5/Connected Services/JobApplicationReference/JobApplicationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfJobPortal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfJobPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobApplicantId" type="xs:int" />
      <xs:element minOccurs="0" name="JobApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobApplication" nillable="true" type="tns:JobApplication" />
</xs:schema>