WebApplication5/WebApplication5/Connected Services/JobReference/JobService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/JobService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/JobService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/JobService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8000/JobService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfJobPortal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobService_GetJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJobsofCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsofCompany" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetJobsofCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsofCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetAllJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobs" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetAllJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_AddJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_AddJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_UpdateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_UpdateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_DeleteJob_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJob" />
  </wsdl:message>
  <wsdl:message name="IJobService_DeleteJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_AddJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJobCategory" />
  </wsdl:message>
  <wsdl:message name="IJobService_AddJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobService">
    <wsdl:operation name="GetJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/GetJobs" message="tns:IJobService_GetJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/GetJobsResponse" message="tns:IJobService_GetJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsofCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/GetJobsofCompany" message="tns:IJobService_GetJobsofCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/GetJobsofCompanyResponse" message="tns:IJobService_GetJobsofCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/GetAllJobs" message="tns:IJobService_GetAllJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/GetAllJobsResponse" message="tns:IJobService_GetAllJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/AddJob" message="tns:IJobService_AddJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/AddJobResponse" message="tns:IJobService_AddJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/UpdateJob" message="tns:IJobService_UpdateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/UpdateJobResponse" message="tns:IJobService_UpdateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/DeleteJob" message="tns:IJobService_DeleteJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/DeleteJobResponse" message="tns:IJobService_DeleteJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/AddJobCategory" message="tns:IJobService_AddJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/AddJobCategoryResponse" message="tns:IJobService_AddJobCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobService" type="tns:IJobService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="http://tempuri.org/IJobService/GetJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsofCompany">
      <soap:operation soapAction="http://tempuri.org/IJobService/GetJobsofCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobs">
      <soap:operation soapAction="http://tempuri.org/IJobService/GetAllJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <soap:operation soapAction="http://tempuri.org/IJobService/AddJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <soap:operation soapAction="http://tempuri.org/IJobService/UpdateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJob">
      <soap:operation soapAction="http://tempuri.org/IJobService/DeleteJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobCategory">
      <soap:operation soapAction="http://tempuri.org/IJobService/AddJobCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobService">
    <wsdl:port name="BasicHttpBinding_IJobService" binding="tns:BasicHttpBinding_IJobService">
      <soap:address location="http://localhost:8000/JobService/JobService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>