WebApplication5/WebApplication5/Connected Services/JobReference/JobService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfJobPortal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfJobPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
      <xs:element minOccurs="0" name="Vacancy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
</xs:schema>