WebApplication5/WebApplication5/Connected Services/ManageUserReference/ManageUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ManageUserService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ManageUserService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ManageUserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfJobPortal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageUserService_AddCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_AddCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_AddJobApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJobApplicant" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_AddJobApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_DeleteJobApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobApplicant" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_DeleteJobApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IManageUserService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageUserService">
    <wsdl:operation name="AddCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageUserService/AddCompany" message="tns:IManageUserService_AddCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageUserService/AddCompanyResponse" message="tns:IManageUserService_AddCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageUserService/DeleteCompany" message="tns:IManageUserService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageUserService/DeleteCompanyResponse" message="tns:IManageUserService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJobApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageUserService/AddJobApplicant" message="tns:IManageUserService_AddJobApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageUserService/AddJobApplicantResponse" message="tns:IManageUserService_AddJobApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJobApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageUserService/DeleteJobApplicant" message="tns:IManageUserService_DeleteJobApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageUserService/DeleteJobApplicantResponse" message="tns:IManageUserService_DeleteJobApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageUserService/LogIn" message="tns:IManageUserService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageUserService/LogInResponse" message="tns:IManageUserService_LogIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManageUserService" type="tns:IManageUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/IManageUserService/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap:operation soapAction="http://tempuri.org/IManageUserService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobApplicant">
      <soap:operation soapAction="http://tempuri.org/IManageUserService/AddJobApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobApplicant">
      <soap:operation soapAction="http://tempuri.org/IManageUserService/DeleteJobApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IManageUserService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageUserService">
    <wsdl:port name="BasicHttpBinding_IManageUserService" binding="tns:BasicHttpBinding_IManageUserService">
      <soap:address location="http://localhost:8000/ManageUserService/ComoanyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>